.navteste{
    background-color: rgba(255, 255, 255, 0.504);
    padding: 15px;
    border:1mm; 
    border-bottom: rgb(255, 255, 255);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    font-size: x-large;
    display: flex;


}

body{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pesquisar{
    padding-left: 800px;
}

.img{
    margin-left: 15%;
}

.titulo{
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
}

.sub5, .sub7{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.sub1, .sub2, .sub3{
    font-family: sans-serif;
}

.a, .b, .c, .d, .j{
    font-family: sans-serif;
}
.fundo{
    background-color: rgba(255, 255, 255, 0.603);
}
.espaco{
    margin-top: 60px;
    margin-bottom: 60px;
}
.last{
    background-color: whitesmoke;
}
.fundot{
    background-color: rgba(255, 255, 255, 0.76);
}
.distanciamento{
    margin-left: 60px;
    display: flex;
}
.distanciamentot{
    margin-top: 60px;
    margin-right: 90px;
    margin-bottom: 60px;
}
p{
    font-size: large;
}